__pycache__
\*.pyc
*.pyc
__pycache__/configreader.cpython-39.pyc
__pycache__/errors.cpython-39.pyc
__pycache__/experiment.cpython-39.pyc
__pycache__/instruments.cpython-39.pyc
__pycache__/setupmanager.cpython-39.pyc
__pycache__/waveform.cpython-39.pyc
NGR Proof-2025-12-04_13-20-39/*
NGR Proof-2025-12-04_13-24-47/*
NGR Proof-2025-12-04_13-26-49/*
