__pycache__/*
output/*
__pycache__/*.pyc
__pycache__/main.cpython-39.pyc
__pycache__/main.cpython-39.pyc
equipment/__pycache__/_voltmeter.cpython-39.pyc
equipment/__pycache__/HP34410A.cpython-39.pyc
equipment/__pycache__/K2400.cpython-39.pyc
equipment/__pycache__/NIDAQ.cpython-39.pyc
equipment/__pycache__/RNPU.cpython-39.pyc
experiments/__pycache__/_experiment.cpython-39.pyc
experiments/__pycache__/_experiment.cpython-312.pyc
experiments/__pycache__/AI_GENETIC.cpython-39.pyc
experiments/__pycache__/AI_JAN.cpython-39.pyc
experiments/__pycache__/AI_JAN.cpython-312.pyc
experiments/__pycache__/IV_DYNAMIC.cpython-39.pyc
experiments/__pycache__/IV_HYST.cpython-39.pyc
experiments/__pycache__/IV_MARTIN_SMU.cpython-39.pyc
experiments/__pycache__/IV_MARTIN.cpython-39.pyc
experiments/__pycache__/IV_MATRIX.cpython-39.pyc
experiments/__pycache__/IV_NI_SMU_REVERSE.cpython-39.pyc
experiments/__pycache__/IV_NI_SMU.cpython-39.pyc
experiments/__pycache__/IV_NI.cpython-39.pyc
experiments/__pycache__/IV_PULL_PUSH.cpython-39.pyc
experiments/__pycache__/VI_HYST.cpython-39.pyc
plotters/__pycache__/plotter.cpython-39.pyc
util/__pycache__/configreader.cpython-39.pyc
util/__pycache__/configreader.cpython-312.pyc
util/__pycache__/errors.cpython-39.pyc
util/__pycache__/global_states.cpython-39.pyc
util/__pycache__/global_states.cpython-312.pyc
util/__pycache__/response.cpython-39.pyc
util/__pycache__/setupmanager.cpython-39.pyc
util/__pycache__/setupmanager.cpython-312.pyc
util/__pycache__/solution.cpython-39.pyc
util/__pycache__/waveform.cpython-39.pyc
util/__pycache__/waveform.cpython-312.pyc
__pycache__/main.cpython-39.pyc
equipment/__pycache__/_voltmeter.cpython-39.pyc
equipment/__pycache__/HP34410A.cpython-39.pyc
equipment/__pycache__/K2400.cpython-39.pyc
equipment/__pycache__/NIDAQ.cpython-39.pyc
equipment/__pycache__/RNPU.cpython-39.pyc
experiments/__pycache__/_experiment.cpython-39.pyc
experiments/__pycache__/AI_GENETIC.cpython-39.pyc
experiments/__pycache__/AI_JAN.cpython-39.pyc
experiments/__pycache__/IV_DYNAMIC.cpython-39.pyc
experiments/__pycache__/IV_HYST.cpython-39.pyc
experiments/__pycache__/IV_MARTIN_SMU.cpython-39.pyc
experiments/__pycache__/IV_MARTIN.cpython-39.pyc
experiments/__pycache__/IV_MATRIX.cpython-39.pyc
experiments/__pycache__/IV_NI_SMU_REVERSE.cpython-39.pyc
experiments/__pycache__/IV_NI_SMU.cpython-39.pyc
experiments/__pycache__/IV_NI.cpython-39.pyc
experiments/__pycache__/IV_PULL_PUSH.cpython-39.pyc
experiments/__pycache__/VI_HYST.cpython-39.pyc
plotters/__pycache__/plotter.cpython-39.pyc
util/__pycache__/configreader.cpython-39.pyc
util/__pycache__/errors.cpython-39.pyc
util/__pycache__/global_states.cpython-39.pyc
util/__pycache__/response.cpython-39.pyc
util/__pycache__/setupmanager.cpython-39.pyc
util/__pycache__/solution.cpython-39.pyc
util/__pycache__/waveform.cpython-39.pyc
